<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="books" class="com.arun.beans.Books"/>
    
    <bean id="student" class="com.arun.beans.Student">
    
    <property ref="books" name="book"></property>
    
    <property value="Rohan" name="name"></property>
    
    <property value="25" name="age"></property>
    
    </bean>
    <alias name="student" alias="students"></alias>
   

</beans>
